option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: perfumestore.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: perfumestore.settings
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"